{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Coin List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Market Cap</th>
                <th>24h Change</th>
            </tr>
        </thead>
        <tbody>
            {% for coin in coins %}
            <tr>
                <td>{{ coin.name }}</td>
                <td>{{ coin.symbol }}</td>
                <td>{{ coin.current_price }}</td>
                <td>{{ coin.market_cap }}</td>
                <td>{{ coin.price_change_percentage_24h }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}