{% extends 'base.html' %}

{% load static %}

{% block content %}

<nav class="navbar navbar-expand-lg position-fix">
  <div class="container">
    <div class="navbar-nav">
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn btn-outline-light" href="#" id="portfolioDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          Select Portfolio
        </a>
        <ul class="dropdown-menu" aria-labelledby="portfolioDropdown">
          {% for user_portfolio in user_portfolios %}
          <li>
            <a class="dropdown-item" href="{% url 'portfolio_detail' portfolio_id=user_portfolio.id %}">
              {{ user_portfolio.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="navbar-nav ms-auto">
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn btn-outline-light" href="#" id="navbarDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          Actions
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li>
            <form action="{% url 'add_trade' portfolio_id=portfolio.id %}" method="get" class="d-inline">
              <button type="submit" class="dropdown-item btn btn-outline-light">Add Trade</button>
            </form>
          </li>
          <li>
            <form action="{% url 'trade_history' portfolio_id=portfolio.id %}" method="get" class="d-inline">
              <button type="submit" class="dropdown-item btn btn-outline-light">Trade History</button>
            </form>
          </li>
          <li>
            <form action="{% url 'coin_list' %}" method="get" class="d-inline">
              <button type="submit" class="dropdown-item btn btn-outline-light">View Cryptos</button>
            </form>
          </li>
          <li><button type="button" class="dropdown-item btn btn-outline-light" data-bs-toggle="modal"
              data-bs-target="#createPortfolioModal">Create Portfolio</button></li>
          <li>
            <form id="deletePortfolioForm" action="{% url 'delete_portfolio' portfolio_id=portfolio.id %}" method="post"
              onsubmit="return confirmDeletion();" class="d-inline">
              {% csrf_token %}
              <button type="submit" class="dropdown-item btn btn-outline-danger">Delete Portfolio</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container">

  <!-- Display Messages -->
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="successMessage">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}


  <!-- Portfolio Summary -->
  <div class="portfolio-summary">
    <h3>Summary of: {{ portfolio.name }}</h3>
    <p>Total Value: {{ portfolio_summary.total_value|floatformat:2 }} USD</p>
    <p>Total Cost: {{ portfolio_summary.total_cost|floatformat:2 }} USD</p>
    <p>Overall Profit/Loss: {{ portfolio_summary.overall_profit_loss|floatformat:2 }} USD</p>
    <p>Overall Profit/Loss (%): {{ portfolio_summary.overall_profit_loss_percentage|floatformat:2 }}%</p>

    <h3>Holdings</h3>
    <div class="table-responsive">
      <table class="table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th>Cryptocurrency</th>
            <th>Quantity</th>
            <th>Current Price</th>
            <th>Avg. Buy Price</th>
            <th>Total Value</th>
            <th>P/L</th>
            <th>P/L in %</th>
          </tr>
        </thead>
        <tbody>
          {% for holding in portfolio_summary.holdings %}
          {% if holding.quantity > 0 %}
          <tr class="table-row clickable-coin"
            onclick="window.location.href='{% url 'holding_detail' holding_id=holding.id %}'">
            <td>
              {{ holding.coin.name }} ({{ holding.coin.symbol }})
            </td>
            <td>{{ holding.quantity }}</td>
            <td>{{ holding.current_price|floatformat:2 }} USD</td>
            <td>{{ holding.average_purchase_price|floatformat:2 }} USD</td>
            <td>{{ holding.value|floatformat:2 }} USD</td>
            <td>{{ holding.profit_loss|floatformat:2 }} USD</td>
            <td>{{ holding.profit_loss_percentage|floatformat:2 }}%</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Create Portfolio Modal -->
  <div class="modal fade" id="createPortfolioModal" tabindex="-1" role="dialog"
    aria-labelledby="createPortfolioModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createPortfolioModalLabel">Create Portfolio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="createPortfolioForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="name">Portfolio Name:</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="createPortfolioBtn">Create Portfolio</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/message.js' %}"></script>
<script src="{% static 'js/create_portfolio.js' %}"></script>
<script src="{% static 'js/portfolio_selector.js' %}"></script>
<script src="{% static 'js/delete_portfolio.js' %}"></script>
<script src="{% static 'js/auto_refresh.js' %}"></script>
{% endblock %}