{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="content-container">
  <h2>Portfolio: {{ portfolio.name }}</h2>

  <!-- Display Messages -->
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="successMessage">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}

  <!-- Buttons -->
  <div class="button-container">
    <div>
      <form action="{% url 'portfolio_detail' portfolio_id=portfolio.id %}" method="get" class="select-container">
        <div class="form-group">
          <label for="portfolio_dropdown">Select Portfolio:</label>
          <select class="form-control" id="portfolio_dropdown" name="portfolio_id" onchange="this.form.submit()">
            {% for user_portfolio in user_portfolios %}
            <option value="{{ user_portfolio.id }}" {% if user_portfolio.id == portfolio.id %}selected{% endif %}>
              {{ user_portfolio.name }}
            </option>
            {% endfor %}
          </select>
        </div>
      </form>
    </div>
    <div>
      <form id="deletePortfolioForm" action="{% url 'delete_portfolio' portfolio_id=portfolio.id %}" method="post"
        onsubmit="return confirmDeletion();">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Portfolio</button>
      </form>
    </div>
    <div>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createPortfolioModal">
        Create Portfolio
      </button>
    </div>
    <div>
      <form action="{% url 'add_trade' portfolio_id=portfolio.id %}" method="get">
        <button type="submit" class="btn btn-primary">Add Trade</button>
      </form>
    </div>
    <div>
      <form action="{% url 'trade_history' portfolio_id=portfolio.id %}" method="get">
        <button type="submit" class="btn btn-primary">Trade History</button>
      </form>
    </div>
    <div>
      <form action="{% url 'coin_list' %}" method="get">
        <button type="submit" class="btn btn-secondary">View Cryptos</button>
      </form>
    </div>
  </div>

  <!-- Portfolio Summary -->
  <div class="portfolio-summary">
    <h3>Portfolio Summary</h3>
    <p>Total Value: {{ portfolio_summary.total_value|floatformat:2 }} USD</p>

    <h3>Holdings</h3>
    <table>
      <thead>
        <tr>
          <th>Cryptocurrency</th>
          <th>Quantity</th>
          <th>Current Price</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for holding in portfolio_summary.holdings %}
        <tr class="table-row">
          <td>{{ holding.coin.name }} ({{ holding.coin.symbol }})</td>
          <td>{{ holding.quantity }}</td>
          <td>{{ holding.current_price|floatformat:2 }} USD</td>
          <td>{{ holding.value|floatformat:2 }} USD</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Create Portfolio Modal -->
  <div class="modal fade" id="createPortfolioModal" tabindex="-1" role="dialog"
    aria-labelledby="createPortfolioModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createPortfolioModalLabel">Create Portfolio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="createPortfolioForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="name">Portfolio Name:</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="createPortfolioBtn">Create Portfolio</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/message.js' %}"></script>
<script src="{% static 'js/create_portfolio.js' %}"></script>
<script src="{% static 'js/portfolio_selector.js' %}"></script>
<script src="{% static 'js/delete_portfolio.js' %}"></script>
{% endblock %}