/* style.css */

/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F8F7F7;
    color: #1D1A24;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: #79627B /* Indicates it's clickable */
}

a:hover {
    text-decoration: underline;
    color: #644f66;  /* Change to a darker color on hover */
}

.btn {
    border-radius: 0%;
}

.btn-primary {
    background-color: #79627B;
    border-color: #79627B;
}

.btn-primary:hover {
    background-color: #644f66;
    border-color: #644f66;
}

.container h2, h3 {
    margin-top: 2em; /* Add space above headings */
}


/* Navbar styles */
.navbar, footer {
    background-color: #1D1A24 !important;
    height: 56px;
}

.navbar-brand {
    color: #F8F7F7;
}

.navbar-brand:hover {
    color: #868B94;
}

.navbar-nav .nav-link {
    color: #F8F7F7;
}

.navbar-nav .nav-link.active {
    color: #79627B;
}

.nav-link:hover {
    background-color: #644f66;
    border-color: #644f66;
}

.position-fix {
    margin-top: 32px;
  }

.content-container {
    margin: 56px 20px 0;
}


/* Signup form styles */
.signup-form-container {
    background-color: #1D1A24;
    color: #F8F7F7;
}

.signup-form-container .form-control {
    background-color: #1D1A24;
    color: #F8F7F7;
    border: 1px solid #868B94;
}

.signup-form-container .form-control:focus {
    background-color: #1D1A24;
    color: #F8F7F7;
    border-color: #79627B;
    box-shadow: 0 0 0 0.25rem rgba(121, 98, 123, 0.25);
}

.signup-link {
    color: #79627B;
    text-decoration: none;
}

.signup-link:hover {
    color: #79627B;
    text-decoration: underline;
}

::placeholder {
    color: #F8F7F7 !important;
  }

.form-text {
    color: #F8F7F7;
}

.form-text a {
    color: #79627B !important;
}


/* Portfolio styles */
.button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Vertically align items */
    background-color: #868B94;
    width: 100%;
    height: 56px;
    margin-top: 32px;
    gap: 10px; /* Adjust the spacing between buttons as needed */
}

.button-container > div {
    flex: 1; /* Allow each button to take an equal amount of space */
    display: flex;
    justify-content: center; /* Center the button within the div */
}

th, td {
    padding: 10px 20px 10px 0; /* Add space between table rows */
}

.clickable-coin {
    cursor: pointer;
    text-decoration: underline;
    color: #79627B /* Indicates it's clickable */
}

.clickable-coin:hover {
    text-decoration: underline;
    color: #644f66;  /* Change to a darker color on hover */
}

.custom-select {
    -webkit-appearance: menulist-button; /* For Chrome */
    -moz-appearance: menulist-button;    /* For Firefox */
    appearance: menulist-button;         /* For other browsers */
}



/* Login styles */

.auth-bg-image {
    background-image: url('https://res.cloudinary.com/dqodpxmad/image/upload/v1712415050/login_bg_c6wc8x.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.modal-backdrop {
    z-index: 1040 !important;
  }
  
  .modal {
    z-index: 1050 !important;
  }