{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}
{% load form_tags %}

{% block content %}
<div class="container-fluid">
  <h2>Add Trade</h2>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="successMessage">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}

  <form method="post" id="trade-form" class="mt-4">
    {% csrf_token %}

    <div class="form-group mb-3">
      <label for="id_coin">Coin:</label>
      <select name="coin" id="id_coin" class="form-control select2" style="width: 100%;">
        {% for coin in form.fields.coin.queryset %}
          <option value="{{ coin.id }}">{{ coin.name }}</option>
        {% endfor %}
      </select>
      <span class="error" id="coin-error"></span>
    </div>

    <div class="form-group mb-3">
      <label for="id_trade_type">Trade Type:</label>
      {{ form.trade_type|add_class:"form-control" }}
      <span class="error" id="trade-type-error"></span>
    </div>

    <div class="form-group mb-3">
      <label for="id_quantity">Quantity:</label>
      {{ form.quantity|add_class:"form-control" }}
      <span class="error" id="quantity-error"></span>
    </div>

    <div class="form-group mb-3">
      <label for="id_price">Price in USD:</label>
      {{ form.price|add_class:"form-control" }}
      <span class="error" id="price-error"></span>
    </div>

    <div class="form-group mb-3">
      <label for="id_date">Date:</label>
      {{ form.date|add_class:"form-control" }}
      <span class="error" id="date-error"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Add Trade</button>
  </form>

  <a href="{% url 'portfolio_detail' portfolio.id %}" class="btn btn-secondary mt-3">Back to Portfolio</a>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/trade_form.js' %}"></script>
<script src="{% static 'js/message.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>
{% endblock %}