{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
<div class="container-fluid auth-bg-image">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-6">
      <div class="card signup-form-container">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">{% trans "Sign In" %}</h2>
          <p class="text-center">{% blocktrans %}Welcome back to CoinPilot. To access your portfolio and explore market insights, please log in. If you haven't created an account yet, <a href="{{ signup_url }}" class="signup-link">sign up</a> first.{% endblocktrans %}</p>
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="id_login" class="form-label">{% trans "Email or Username" %}</label>
              <input type="text" class="form-control" id="id_login" name="login" placeholder="{% trans 'Enter your email or username' %}" required>
            </div>
            <div class="mb-3">
              <label for="id_password" class="form-label">{% trans "Password" %}</label>
              <input type="password" class="form-control" id="id_password" name="password" placeholder="{% trans 'Enter your password' %}" required>
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}